<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.win.store.mapper.CategoryMapper">

    <!-- 根据父级id获取子级的商品分类的数据的列表 -->
    <!-- List<GoodsCategory> findByParent(Integer parentId); -->
    <select id="findByParent" resultType="com.win.store.entity.GoodsCategory">
        select id , name from t_goods_category where parent_id= #{parentId} order by sort_order desc
    </select>

</mapper>